.search_icon, .help_icon, .login_icon {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    align-items: baseline;
}

.sub_header_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    /* padding-top: 10px; */
    /* margin-bottom: 5px; */
}

.sub_header_container_2 {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;    
}

.logo {
    width: 120px;
    height: 30px;
    margin-left: 70px;
    font-size: 14px;
    line-height: 1.42857143;
}

.links {
    text-decoration: none;
    color: black;
    padding-left: 25px;   
    font-size: 15px;
}

.Become_A_Client {
    margin-left: 170px;
    margin-right: 50px;
    background-color: #ff540a;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
}

.header_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
}

.contact_number {
    color: #ff540a;
    /* padding-left: 30px; */
    font-weight: 900;
}